@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Roboto&display=swap');

*{
    font-family: Be Vietnam Pro;
}

body{
    background-image: url("/images/fondos/fondo_V15.jpg");
}

.formulario{
    font-size: 95%;
    padding: 20px;
    margin: 20px;
    border-color: black;
    border-width: 10px;
    border: solid 1p black; 
    box-shadow: 18px;
    text-shadow: 18px;
    color: black;
    text-align: center;
    background-color: transparent;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);  
    border: 0.4px solid gray;
    border-radius: 9px;
}

.title{
    text-align: center;
    margin-bottom: 15px;
    text-decoration: bold;
}

input{
    border-radius: 4px;
    border-width: 0.5px;
    color: black;
    background-color: transparent;
    padding: 1.5px;
    margin-left: 5px;
}

.inputs-1, .inputs-2, .inputs-3{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: flex-start;
} 

.inputs-4{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 7PX;
}

input#fotoProducto.productos{
    border-radius: 4px;
    border-width: 0.5px;
    color: black;
    background-color: transparent;
    padding: 1.5px;
    margin-left: 5px;
}

.tamaños{
    text-align: left;
}

.inputs-6{
    margin-top: 10px;
}

button{
    width: 110px;
    border-radius: 5px;
    border-width: 1px;
    color: black;
    padding: 4.0px;
    margin-left: 5px;  
    background: linear-gradient(to right, #A3CCF0, white);
}

@media (min-width: 500px) and (max-width: 600px){
    .formulario{
        margin: 40px;
    }
}

@media (min-width: 600px){
    .formulario{
        margin-left: 70px;
        margin-right: 70px;
        margin-top: 40px;
    }
}

@media (min-width: 700px){
    .formulario{
        margin-left: 140px;
        margin-right: 140px;
        margin-top: 40px;
    }
}
