@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Roboto&display=swap%27');

*{
    font-family: Be Vietnam Pro;
}


header{
    font-size: 10px;
    background-image: none;
}

.logo img{
    max-width: 40px;
    margin: 8px 30px 1px 8px
}

.encabezado{
    display: flex;
}

.pasos i{
    color: green;
    font-size: 20px;
    margin: 3px 35px 7px 2px;
    border-radius: 10px;
    align-items: center;
}

.pasos{
    display: flex;
    margin-top: 7px;
    align-items: center;
}

.pasos_compra{
    display: flex;
    align-items: center;
    color: black;
    font-size: 10px;
    margin-top: 2px;
}

.lista{
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}
.producto-imagen{
    text-align: center;
}
.producto-imagen img{
    max-width: 120px;
}
.resumen_compra{
    display: flex;
    justify-content: space-between;
    font-size: 11px;
    margin: 3px 10px 3px 10px;
}
.comprar{
    display: flex;
    justify-content: center;
    margin-top: 10px
}
button{
    color: white !important;
    text-shadow: none !important;
    padding: 5px;
    border-radius: 2px;
}
.boton_compras{
    background-color: yellowgreen;
}

.terminos{
    font-size: 11px;
    text-align: center;
    margin-top: 10px;
}

footer{
    font-size: 11px !important;
}