.tituloregistro {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 30px;
}

.registrarse {
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url(../images/fondos/fondo1.jpg);
    padding: 2rem;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    color: rgb(255, 255, 255);
    border-color: black;
    /* display: flex;
    justify-content: center; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 320px;
    margin-right: 320px;
}



.texto-error {
    color: red;
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
}

.avatar {
    display: flex;
    justify-content: center;
    margin: 17px;
}


.tituloregistro {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 30px;
}

.nombreregistro {
    display: flex;
    justify-content: center;
    margin: 5px;

}

.apellidosregistro {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.emaillogin {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.emaillogin label {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.passwordlogin {
    display: flex;
    justify-content: center;
    margin: 5px;

}

.passwordconfirm {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.botonregistro {
    display: flex;
    justify-content: center;    
}

.boton-registro{
    color: black;
    border-bottom: 1px solid white;
    padding: 8px;
    border-radius: 7px;
}

