body{
  margin: 0px;
  background-color: aliceblue;
  font-family: roboto, sans-serif;
}
.page-nav{
  border: 1px solid black;
}
.page-nav h1{
  margin: 20px;
  font-size: 20px;
  color: black;
}
.store-encabezado{
  margin: 20px;
  font-size: 20px;
  text-align: center;
}
.page-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1px solid black;

}
.product-container {
  margin: 15px;
  padding: 2px 16px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
  background-color: white;
}
.product-container:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.product-container img{

  width:500px;
  height:500px;
  border-radius: 10px;
}
.product-container p{
  margin-bottom:-10 ;
  font-size: 20px ;
  color:black;
  font-weight: bold;
}
.button-buy:hover{
  background-color: rgb(5, 50, 90);
  color: white;
}

.button-buy{
  font-size: 16px;
  text-align: center;
  border-radius: 7px;
  padding:10px 25px;
  background-color: white;
  color:rgb(5, 50, 90);
  border: 1px solid rgb(158, 185, 228);
  transition-duration: 0.4s;
  margin-bottom: 8px;
  position: absolute;
  right: 15px;
  bottom: 2px;
}
