@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Roboto&display=swap');

*{
    margin:0;
    padding:0;
    font-family: Be Vietnam Pro;
}

header{
    font-size: 10px;
}

main{
    font-size: 10px;
}

.logo img{
    max-width: 40px;
    margin: 7px 15px 0px 15px;
}

.encabezado{
    display: flex;
    justify-content: space-between;
}

.login{
    display: flex;
    margin-top: 12px;
}

.login i{
    color: black;
    font-size: 20px;
    margin: 3px 9px 3px 4px;
}

/* se debe arreglar el boton*/

.texto-login p a{
    text-align: center;
    text-decoration: none;
    display: none;
    border: solid 1px black;
    border-radius: 5px;
    padding: 3px 2px 3px 2px;
    margin-right: 16px;
    /* width: 28%;
    padding: 8px 1px 8px 1px;
    margin: 0px 100px 0px 100px; */
    background-color: #848484;
    /* color: #ffffff;
    text-align: center; */
}

.bolsa i{
    color: black;
    font-size: 20px;
    margin: 3px 15px 3px 4px;
}

/* se debe arreglar el boton*/
.carritocompras p a{
    text-align: center;
    text-decoration: none;
    color: black;
    display: none;
    border: solid 1px black;
    border-radius: 5px;
    padding: 3px 2px 3px 2px;
    margin-right: 16px;
    background-color: #848484;
}

.busqueda{
    width: 90%;
    text-align: center;
    margin: 15px 0px 0px -35px;
}

.search-bar{
    width: 70%;
    border-width: 1px;
    border-radius: 4px;
}

button{
    border-width: 0px;
    background-color: white;
    width: 35%px;
}

.compras{
    display: flex;
    margin-top: 12px;
}

.main_inferior{
    text-align: center;
}

.main_inferior img{
    max-width: 200px;

}

.navegacion ul{
    display: flex;
    margin: 5px;
    list-style-type: none;
    text-align: center;
}

.navegacion ul li{
    margin: 5px;
}

.navegacion ul li a{
    text-decoration: none;
    color: black;
}

/* .boton{

    display: flex;
    text-align: center;
    text-decoration: none;
    color: black;

    border: solid 1px black;
    width: 28px;
} */

.main_inferior p a{
    display: flex;
    justify-content: center;

}

.main_inferior p{
    display: flex;
    justify-content: center;
    border: solid 1px black;
    width: 28%;
    padding: 8px 1px 8px 1px;
    margin: 0px 100px 0px 100px;
    background-color: #ffffff;
    color: #ffffff;
    border-radius: 5px;
}

.boton {
    display: flex;
    justify-content: space-around;
    border: solid 1px black;
    width: 28%;
    padding: 8px 1px 8px 1px;
    margin: 0px 100px 0px 100px;
    background-color: #ffffff;
    color: #ffffff;
    border-radius: 5px;

    }

button{
    display: flex;
    justify-content: space-around;
}

.tres_columnas{
    text-align: center;
}

.redes div img{
    max-width: 30px;
}

.redes{
    display: flex;
    justify-content: space-around;
}

.col1footer{
    margin-top: 20px;
}

.col2footer{
    margin-top: 20px;
}

.col3footer{
    margin-top: 20px;
}

.equipo{
    display: flex;
    justify-content: center;

}

.equipo div p{
    margin: 5px;
}

.derechos{
    text-align: center;
    margin-top: 20px;
}

@media (min-width: 480px){
    .tres_columnas{
        display: flex;
        justify-content: space-around;
    }

    .texto-login p a{
        text-decoration: none;
        color: black;
        display: block;
    }
    .carritocompras p a{
        text-decoration: none;
        color: black;
        display: block;
    }
    .col1footer section ul li{
        /* no me funciona */
        text-decoration: none;
    }


}

@media (min-width: 768px){

}

@media (min-width: 1200px){

}
