@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Roboto&display=swap');

*{
    font-family: Be Vietnam Pro;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
.table{
    padding: 30px;
    font-size: 80%;
} */

.titulo{
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    color: black !important;
    text-align: center;
}
.thead{
    display: flex;
    justify-content: center;
}

th{
    text-align: center;
}

.table{
    display: flex;
    justify-content: center;
}

.tablaCompleta{
   margin: auto;
}

.imagenes{
    width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}

.celda{
    background-color: rgb(217, 217, 217);
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.celda td{
    padding: 12px;
    padding-left: 20px;
}