<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/orders.css">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/footer.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet"/>
    <link href="https://use.fontawesome.com/releases/v5.0.8/js/brands.js" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.4/js/v4-shims.js" rel="stylesheet"></script> 
    <link href="https://use.fontawesome.com/releases/v5.0.4/js/fontawesome.js" rel="stylesheet"> </script>
    <title>¿Cómo encargar?</title>
</head>
<body>
    <!-- Header -->
    <%- include ("./partials/headerMain")%>
    <%- include ("./partials/headerNavBar")%>
    
    <img  class = "imagen" src ="/public/images/imagenes ropa/como_encargar_htmljpg.jpg"> 

    <!-- footer -->
    <%- include ("./partials/footer")%>
</body>
</html>