<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swip - Moda personalizada</title>
    <link rel="shortcut icon" href="/public/images/logo/favicon.ico">
</head>

<body>
    <header>
    </header>
    <main>
        <nav class = "navegacion"> 
            <ul  type = "none"> 
                <li><a href = "/src/views/hoddies.html" >Hoodies</a></li>
                <li><a href = "/src/views/jeans.html" >Jeans</a></li>
                <li><a href = "/src/views/remeras.html" >Remeras</a></li>
                <li><a href = "/src/views/camperas.html" >Camperas</a></li>
                <li><a href = "/src/views/toteBag.html" >Tote bag</a></li>
            </ul>
        </nav>
        <!-- //banner
    //guia de tallas
    // imagen no definida -->
    <!-- seccion del banner -->
    <!-- revisar el width -->
    <section class = "banner">

    </section>
    <section> 
        <img src = "/Public/images/imagenes ropa/Guia_de_tallas.jpg" width="40%">
        <div class="boton">
            <p><a href="/src/views/SizeGuide.html" target="_blank">Guía de tallas</a></p>
        </div>
    </section>
    <section>
        <img src = "/Public/images/imagenes ropa/Cómo_encargar.jpg" width="40%">
        <div class = "boton">
            <p><a href="/src/views/howToBuy.html" target="_blank">¿Cómo encargar?</a></p>
        </div>
    </section>
    </main>

    <footer>
        <!-- //Ayuda
        //Equipo
        //Redes sociales
        //@SWIP todos los derechos reservados -->
        <div class="col1footer">
            <section>
                <h4>Ayuda</h4>
            </section>
            <section>
                <ul>
                    <li>Envios</li>
                    <li>Preguntas Frecuentes</li>
                    <li>Como Devolver</li>
                </ul>
            </section>
        </div>
        <div class="col2footer">
            <section>
                <h4>Equipo</h4>
            </section>
            <section>
                <div>
                    <img src="" alt="Milagros">
                </div>
                <div>
                    <img src="" alt="David">
                </div>
                <div>
                    <img src="" alt="Julieth">
                </div>
                <div>
                    <img src="" alt="Lautaro">
                </div>
                <div>
                    <img src="" alt="Juan">
                </div>
            </section>
        </div>
        <div class="col3footer">
            <section>
                <h4>Redes Sociales</h4>
            </section>
            <section>
                <div><img src="/Public/images/simbolos/facebook.png" alt="Facebook"></div>
                <div><img src="/Public/images/simbolos/instagram.jpg" alt="Instagram"></div>
                <div><img src="/Public/images/simbolos/whatsapp.png" alt="Whatsapp"></div>
                <div><img src="/Public/images/simbolos/arroba.png" alt="Email"></div>
            </section>
        </div>
        <div class="derechos">
            <p>@SWIP, Todos los derechos reservados</p>
        </div>
    </footer>
</body>
</html>