<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swip - Moda personalizada</title>
    </script>
    <link href="https://use.fontawesome.com/releases/v5.0.4/js/fontawesome.js" rel="stylesheet">
    </script>
</head>

<body>
    <%- include ("./partials/headerMain")%>
        <main>
            <%- include ("./partials/headerNavBar")%>
                <!-- //banner
    //guia de tallas
    // imagen no definida -->
                <!-- seccion del banner -->
                <div class="banner">
                    <ul>
                        <li><img src="/images/slider/slide1.jpg" alt=""></li>
                        <li><img src="/images/slider/slide3.jpg" alt=""></li>
                        <li><img src="/images/slider/slide4.jpg" alt=""></li>
                        <li><img src="/images/slider/slide3.jpg" alt=""></li>
                        <li><img src="/images/slider/slide1.jpg" alt=""></li>
                        <li><img src="/images/slider/slide4.jpg" alt=""></li>
                    </ul>
                </div>
                <!-- revisar el width -->

                <div class="main_inferior">
                    <div class="informacion_tallas_compras">
                        <img src="images/imagenes ropa/Guia.png" class="guia-tallas">
                        <button class="boton"><a href="SizeGuide" target="_blank">Guía de tallas</a></button>
                    </div>
                    <div class="informacion_tallas_compras">
                        <img src="images/imagenes ropa/Encargar.png" class="encargos">
                        <p class="boton"><a href="howToBuy" target="_blank">¿Cómo encargar?</a></p>
                    </div>
                    <div class="informacion_tallas_compras">
                        <img src="images/imagenes ropa/descuentos.png" class="descuentos">
                        <p class="boton"><a href="howToBuy" target="_blank">Descuentos</a></p>
                    </div>
                    <div class="informacion_tallas_compras">
                        <img src="images/imagenes ropa/workwhitus.png" class="trabajo">
                        <p class="boton"><a href="http://localhost:3000/" target="_blank">Aplicar</a></p>
                    </div>
                </div>
        </main>

        

        <div class="linea">

        </div>
        <!-- 
        <%- include ("./partials/footer")%> -->
</body>

</html>