<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Swip - login</title>
  <!-- <link rel="stylesheet" href="./css/login.css"> -->
  <link rel = "stylesheet" href= "/css/login.css">
  <link rel="stylesheet" href="./css/footer.css">
</head>

<body>
  <%- include ("./partials/headerMain")%>
    <main>
      <div class = formCompleto>
        <form action="/login" method="POST" class="login" id="form-login">
          <div class="login-container">
            <h1 class="title">Ingresar</h1>
            <br>
            <section class="errores">
              <ul>

              </ul>
            </section> 
            <div class="inputs">
              <label for="mail">Correo electrónico</label>
              <input  class="email" type="email" name="email" id="email" placeholder="Correo electrónico">
              <% if (locals.errors && errors.email) { %>
                <div class="texto-error">
                    <%= errors.email.msg %>
                  </div>
                  <% } %>
            </div>
            <div class="inputs">
              <label for="clave">Contraseña</label>
              <input type="password" name="clave" id="clave" placeholder="Contraseña">
              <% if (locals.errors && errors.clave) { %>
                <div class="texto-error">
                  <%= errors.clave.msg %>
                </div>
                <% } %>
            </div>
            <div>
              <label for=""><input type="checkbox" name="userLoggedMiddleware"> Recordar mi cuenta</label>
            </div>
            <div class="account-buttons">
              <button type="submit" class="account sub">Iniciar sesión</button>
            </div>
        </form>
        <h4>¿No tienes una cuenta? ¡Registrate!</h4>
        <br>
        <div class="account-buttons">
          <button class="account sub"><a href="/register">Registrarse</a></button>
        </div>
      </div>
    </main>
    <%- include ("./partials/footer")%>
    <script src="/js/validationLogin.js"></script>
</body>
</html>