<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swip - Moda personalizada</title>
    <link rel="shortcut icon" href="/images/logo/favicon.ico">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/productCart.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.8/js/brands.js" rel="stylesheet">
</head>

<body>
    <header>
        <div class="encabezado">
            <section>
                <div class="logo">
                    <a href="/"><img src="/images/Logo/logo.png"></a>
                </div>
            </section>
            <div class="pasos">
                <i class="far fa-check-circle">
                    <div class="pasos_compra">Carrito</div>
                </i>
                <i class="far fa-check-circle">
                    <div class="pasos_compra">Envío</div>
                </i>
                <i class="far fa-check-circle">
                    <div class="pasos_compra">Pago</div>
                </i>
            </div>
        </div>
    </header>
    <main>
        <section>
            <div class="productos">
                <div class="lista">
                    <div>
                        <p>Lista de productos</p>
                    </div>
                    <div class="producto-imagen"><img src="/images/imagenes ropa/ropa1.jpg" alt=""></div>
                </div>
                <div class="resumen_compra">
                    <div class="nombre_producto">
                        <p>nombre del producto</p>
                    </div>
                    <div class="cantidad">
                        <p>cantidad</p>
                        <div>
                            --
                        </div>
                    </div>
                    <div class="Precio">
                        <p>precio</p>
                        <div>
                            --
                        </div>
                    </div>
                    <div class="factura">
                        <p>Total</p>
                    </div>
                </div>
                <div class="comprar">
                    <button class="boton_compras">Comprar</button>
                </div>
                <div class="terminos">
                    <h4>Terminos y condiciones</h4>
                    <p>
                         Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, aut libero dolorem molestiae est id nulla reprehenderit, optio dicta iusto dolorum officiis corrupti minima minus commodi iure! Similique, explicabo atque.
                    </p>
                </div>

            </div>

            <div>
                <!-- <h1>Lista de productos</h1>
                <p>Nombre del Producto</p>
                <p>Cantidad</p>
                <p>precio</p> -->
            </div>

        </section>
    </main>
    <footer>
        <div class="tres_columnas">
        <div class="col1footer">
            <section>
                <h4>Ayuda</h4>
            </section>
            <section>
                <ul>
                    <li>Envios</li>
                    <li>Preguntas Frecuentes</li>
                    <li>Como Devolver</li>
                </ul>
            </section>
        </div>
        <div class="col3footer">
            <section>
                <h4>Redes Sociales</h4>
            </section>
            <section class="redes">
                <div><i class="fab fa-facebook"></i></div>
                <div><i class="fab fa-instagram"></i></div>
                <div><i class="fab fa-whatsapp"></i></div>
                <div><i class="fas fa-at"></i>
                </i></div>
            </section>
        </div>
    </div>
        <div class="derechos">
            <p>@SWIP, Todos los derechos reservados</p>
        </div>
    </footer>
</body>

</html>