<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
    <title>Store</title>
    <link rel="stylesheet" href="/css/store.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet"/>
    <link href="https://use.fontawesome.com/releases/v5.0.8/js/brands.js" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.4/js/v4-shims.js" rel="stylesheet"></script> 
    <link href="https://use.fontawesome.com/releases/v5.0.4/js/fontawesome.js" rel="stylesheet"> </script>

</head>
    <%- include ("./partials/headerMain")%>
    <%- include ("./partials/headerNavBar")%>

        <body>


            <div class="store-encabezado">
                <h2> STORE</h2>
            </div>

            <div class="store-subtitulo">
                <h3 id="hoodies">HOODIES</h3>
            </div>

            <div class="page-products">

                <div class="product-container">
                    <h3>Nombre :</h3>
                    <img src="images/store/producto7.jpg" alt="">
                    <p> $ 39500</p>
                    <button class="button-buy">Comprar</button>

                </div>
                <div class="product-container">
                    <h3>Nombre :</h3>
                    <img src="images/store/producto8.jpg" alt="">
                    <p> $ 39500</p>
                    <button class="button-buy">Comprar</button>
                </div>
                               
            </div>

            <div class="store-subtitulo">
                <h3 id="jeans">JEANS</h3>
            </div>

            <div class="page-products">

                <div class="product-container">
                    <h3>Jean Cruces</h3>
                    <img src="images/store/producto4.jpg" alt="">
                    <p> $ 109500</p>
                    <button class="button-buy">Comprar</button>

                </div>
                <div class="product-container">
                    <h3>Nombre :</h3>
                    <img src="images/store/producto5.jpg" alt="">
                    <p> $ 39500</p>
                    <button class="button-buy">Comprar</button>

                </div>
                
                <div class="product-container">
                    <h3>Nombre :</h3>
                    <img src="images/store/producto13.jpg" alt="">
                    <p> $ 39500</p>
                    <button class="button-buy">Comprar</button>

                </div>
            </div>

            <div class="store-subtitulo">
                <h3 id="remeras">REMERAS</h3>
            </div>

            <div class="page-products">

                <div class="product-container">
                    <h3>Remera Azul</h3>
                    <img src="/images/store/producto1.jpg" alt="">
                    <p> $ 40000</p>
                    <button class="button-buy" onclick="add('producto1', 39500)">Comprar</button>

                </div>
                
                <div class="product-container">
                    <h3>Nombre :</h3>
                    <img src="images/store/producto6.jpg" alt="">
                    <p> $ 39500</p>
                    <button class="button-buy">Comprar</button>

                </div>
                
                <div class="product-container">
                    <h3>Nombre :</h3>
                    <img src="images/store/producto9.jpg" alt="">
                    <p> $ 39500</p>
                    <button class="button-buy">Comprar</button>

                </div>
                <div class="product-container">
                    <h3>Nombre :</h3>
                    <img src="images/store/producto10.jpg" alt="">
                    <p> $ 39500</p>
                    <button class="button-buy">Comprar</button>

                </div>
                <div class="product-container">
                    <h3>Nombre :</h3>
                    <img src="images/store/producto11.jpg" alt="">
                    <p> $ 39500</p>
                    <button class="button-buy">Comprar</button>

                </div>
                <div class="product-container">
                    <h3>Nombre :</h3>
                    <img src="images/store/producto12.jpg" alt="">
                    <p> $ 39500</p>
                    <button class="button-buy">Comprar</button>

                </div>
                
                
            </div>

            <div class="store-subtitulo">
                <h3 id="camperas">CAMPERAS</h3>
            </div>

            <div class="page-products">

           
                <div class="product-container">
                    <h3>Nombre :</h3>
                    <img src="images/store/producto8.jpg" alt="">
                    <p> $ 39500</p>
                    <button class="button-buy">Comprar</button>

                </div>
                
            </div>

            <div class="store-subtitulo">
                <h3 id="totebag">TOTE BAG</h3>
            </div>

            <div class="page-products">

                <div class="product-container">
                    <h3>Tote Bag letras negras</h3>
                    <img src="images/store/producto2.jpg" alt="">
                    <p> $ 35500</p>
                    <button class="button-buy">Comprar</button>

                </div>
                <div class="product-container">
                    <h3>Tote Bag letras cafes</h3>
                    <img src="images/store/producto3.jpg" alt="">
                    <p> $ 35500</p>
                    <button class="button-buy">Comprar</button>

                </div>
                
            </div>


        </body>
    <%- include ("./partials/footer")%>

</html>