<footer>
    <div class="tres_columnas">
    <div class="col1footer">
        <section>
            <h4>Ayuda</h4>
        </section>
        <section>
            <ul>
                <li>Envios</li>
                <li>Preguntas Frecuentes</li>
                <li>Como Devolver</li>
            </ul>
        </section>
    </div>
    <div class="col2footer">
        <section>
            <h4>Equipo</h4>
        </section>
        <section>
            <div class="equipo">
            <div>
                <img src="" alt="">
                <p>Milagros</p>
            </div>
            <div>
                <img src="" alt="">
                <p>David</p>
            </div>
            <div>
                <img src="" alt="">
                <p>Julieth</p>
            </div>
            <div>
                <img src="" alt="">
                <p>Lautaro</p>
            </div>
            <div>
                <img src="" alt="">
                <p>Juan</p>
            </div>
        </div>
        </section>
    </div>
    <div class="col3footer">
        <section>
            <h4>Redes Sociales</h4>
        </section>
        <section class="redes">
            <div><a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a></div>
            <div><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></div>
            <div><a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i></a></div>
            <div><i class="fas fa-at"></i>
            </i></div>
        </section>
    </div>
</div>
    <div class="derechos">
        <p>@SWIP, Todos los derechos reservados</p>
    </div>
</footer>