<head>
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://kit.fontawesome.com/86a97245b7.js" crossorigin="anonymous"></script>
</head>
<footer class="footer">
    <div class="container-footer">
    <div class="footer-col">
            <h4>Contacto</h4>
            <ul>
                <li><a href= "#">Envíos</a></li>
                <li><a href= "#">Devoluciones</a></li>
                <li><a href= "#">Preguntas frecuentes</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Team</h4>
            <div class="dev-cont">
                <p>Julieth </p>
                <img src="/images/icon/julieth.jpg" alt="">
                <p>Juan Esteban </p>
                <img src="/images/icon/juan.PNG" alt="">
                
            </div>
            
        </div>
        <div class="footer-col">
            <h4>Contacto</h4>
           <div class="contact">
            <img class="img-footer" src="/images/Logo/logo.png" alt="logo">
            
              
            </div>
        </div>
            <div class="footer-col">
              <h4>Siguenos</h4>
              <div class="row-icon">
                <img src="/images/icon/facebook.png">
                <label for="">Facebook</label>
            </div>
            <div class="row-icon">
                <img src="/images/icon/twitter.png">
                <label for="">Twitter</label>
            </div>
            <div class="row-icon">
                <img src="/images/icon/instagram.png">
                <label for="">Instagram</label>
            </div>
            <div class="row-icon">
                <img src="/images/icon/whatsapp.png">
                <label for="">Whatsapp</label>
            </div>
            <div class="row-icon">
                <img src="/images/icon/linkedin.png">
                <label for="">Linkedin</label>
                
            </div>
          
        
                
            </div>
        </div>
    </div>

</footer>