<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="/images/logo/favicon.ico">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://kit.fontawesome.com/86a97245b7.js" crossorigin="anonymous"></script>
    <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
</head>
<header>
    <div class="header">
        <section>
            <a href="/"><img class="logo" src="/images/Logo/logo.png"></a>
        </section>

        <div class="busqueda">
            <form class="formularioDeBusqueda" action="" method="get">
                <span class="icon"><i class="fa fa-search"></i></span>
                <input type="search" id="search" placeholder="Buscar productos..." />
            </form>
        </div>
        <% if(locals.isLogged){ %>

            <% } %> else <% { %> 
        <div class="login-carrito">
            <a href="/user/login"><i class="far fa-user"></i></a>
            <p class="texto"><a href="/user/login"> Iniciar sesión</a></p>
            <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
            <p class="texto"><a href="/productCart"> Carrito de compras </a></p>
            <% } %>
        </div>
    </div>
</header>

</html>