<nav class="navegacion">
    <ul>
        <li><a href="/store">Hoodies</a></li>
        <li><a href="/store">Jeans</a></li>
        <li><a href="/store">Remeras</a></li>
        <li><a href="/store">Camperas</a></li>
        <li><a href="/store">Tote bag</a></li>
    </ul>
</nav>