<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="logo/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/86a97245b7.js" crossorigin="anonymous"></script>
    <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
</head>
<header>
    <div class="header">
        <section>
            <a href="/"><img class="logo" src="/images/Logo/logo.png"></a>
        </section>
        <form class="d-flex" method="GET" action="/search">
            <input class="formularioDeBusqueda" type="search" name="search" placeholder="Search" aria-label="Search">
            <button class="formularioDeBusqueda2" type="submit">Search</button>
        </form>
        <% if(locals.isLogged){ %>
            <div class="user-menu">
                <div class="dropdown">
                    <img class="avatar-mini" src="/images/avatars/<%=locals.userLogged.avatar%>">
                    <button class="user-menu-button"><%= locals.userLogged.nombres%> <%= locals.userLogged.apellidos%> </button>
                    <div class="dropdown-content">
                        <a href="/profile">Mi perfil</a>
                        <form action="/logout/">
                            <button type="submit">Cerrar Sesion</button>
                            </form>
                    </div>
                </div>
            </div>
                <% }  else  { %> 
            <div class="login-carrito">
                <a href="/login"><i class="far fa-user"></i></a>
                <p class="texto"><a href="/login"> Iniciar sesión</a></p>
                <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
                <p class="texto"><a href="/productCart"> Carrito de compras </a></p>
                
            </div>
            <% } %>
    </div>
</header>

</html>