<nav class="navegacion">
    <ul>
        <li><a href="/store">Hoodies</a></li>
<<<<<<< HEAD
        <li><a href="/store">Jeans</a></li>
        <li><a href="/store">Remeras</a></li>
        <li><a href="/store">Camperas</a></li>
        <li><a href="/store">Tote bag</a></li>
=======
        <li><a href="/register">Jeans</a></li>
        <li><a href="/register">Remeras</a></li>
        <li><a href="/register">Camperas</a></li>
        <li><a href="/register">Tote bag</a></li>
        
>>>>>>> 63d2a2287587ab77af01781fd43f68aeae0c03bf
    </ul>
</nav>