<nav class="navegacion">
    <ul>
        <li><a href="/store">Hoodies</a></li>
        <li><a href="/store#jeans">Jeans</a></li>
        <li><a href="/store#remeras">Remeras</a></li>
        <li><a href="/store#camperas">Camperas</a></li>
        <li><a href="/store#totebag">Tote bag</a></li>
    </ul>
    
</nav>