<nav class="navegacion">
    <ul>
        <li><a href="/register">Hoodies</a></li>
        <li><a href="/register">Jeans</a></li>
        <li><a href="/register">Remeras</a></li>
        <li><a href="/register">Camperas</a></li>
        <li><a href="/register">Tote bag</a></li>
        
    </ul>
</nav>