<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="/images/logo/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/86a97245b7.js" crossorigin="anonymous"></script>
    <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"> -->
</head>
<header>
    <div class="header">
        <section>
            <a href="/"><img class="logo" src="/images/Logo/logo.png"></a>
        </section>
        <!-- <% if(locals.isLogged){ %> -->
        <div class="user-menu">
            <div class="dropdown">
                <img class="avatar-mini" src="/images/avatars/<%=user.avatar%>">
                <button class="user-menu-button"><%= user.nombres%> <%= user.apellidos%> </button>
                <div class="dropdown-content">
                    <a href="/profile">Mi perfil</a>
                    <a href="/">Logout</a>
                </div>
            </div>
        </div>
            <!-- <% } %> else <% { %>  -->
        <div class="login-carrito">
            <a href="/login"><i class="far fa-user"></i></a>
            <p class="texto"><a href="/login"> Iniciar sesión</a></p>
            <a href="/productCart"><i class="fas fa-shopping-cart"></i></a>
            <p class="texto"><a href="/productCart"> Carrito de compras </a></p>
            <!-- <% } %> -->
        </div>
    </div>
</header>

</html>